################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LL
/.vs/ProjectEvaluation
/.vscode
/LL.API/bin
/LL.API/obj
/LL.CA/bin
/LL.CA/obj
/LL.Core/bin
/LL.Core/obj
/LL.Resources/bin
/LL.Resources/obj
/LL.Test/bin
/LL.Test/obj
/ll.webui/.vs
/ll.webui/obj

.env
ll.webui/.env
.env.dev
.idea/.idea.LL/.idea/indexLayout.xml
LL.sln.DotSettings.user
