/* components/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: var(--color-primary);
    font-weight: bold !important
  }
  
  .logo h2 {
    margin: 0;
    color: var(--color-primary);
  }
  
  .links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .links li {
    margin-left: 20px;
  }
  
  .links a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
  }
  
  .links a:hover {
    text-decoration: underline;
  }

  .linkButton {
    background: none;
    border: none;
    color:var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    font-weight: bold;
  }
  
  .linkButton:hover {
    text-decoration: underline;
  }
  
  